.container{
    text-align: center;
}

table{
    margin: auto;
}

input{
    font-size: 37px;
    width: auto;
    border: 4px solid black;
    border-radius: 15px;
}

button{
    font-size: 40px;
    background-image: linear-gradient(to bottom, #df7f02 0%, #ffb700 100%);
    width: 105px;
    height: 58px;
    border-color: white;
    border-radius: 15px;
    
}

.calculator{
    display: inline-block;
    background-image: linear-gradient(to bottom, #090979 0%, #00d4ff 100%);
    padding: 23px;
    border-radius: 15px;
}